<nav class="navbar navbar-default" style="background-color:#000000">
  <div class="container-fluid" style=" background-color:#fff; border: 1px solid black">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class ="navbar-brand">
        <span class="navbar-brand">C.R. KANNAN</span>
      </div>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-top:10px">
       <li class="header1"><%= link_to 'HOME', root_path %></li>
       <li class="header1"><%= link_to 'ABOUT', pages_about_path %></li>
       <li class="header1"><%= link_to 'RESUME', pages_resume_path %></li>
       <li class="header1"><%= link_to 'MILESTONES', pages_milestones_path %></li>
       <li class="header1"><%= link_to 'GALLERY', pages_gallery_path %></li>
       <li class="header1"><%= link_to 'CONTACT', pages_contact_path %></li>
      </ul> 
      </div>
  </div>
</nav>
<body style="background-color:#bababa">
	<div class = "container">
		<div class="jumbotron" style="background-color:#fff;margin-top:10%">
  			<h2 style="color:#969696;font-family: 'Lato-Regular', sans-serif">About Me</h2>
  				    <p style="color:#969696">I am a hard wired communication professional capable of translating the business model / objectives into concrete brand development activities and strategies. My core competencies include getting ample coverage for the brand and the company through media coverage. I can mentor at various levels and my forte is to bring the brand to the forefront in a competitive environment when the consumer is ready to buy. Having worked in software, manufacturing and service industries I have a holistic view of the communication needs both within the company and with various other stakeholders. My vast experience in the airline industry has allowed me to build a massive network that include members of the civil aviation ministry and regulatory authorities such as DGCA.I was the only employee to be sponsored for MEP at IIM AHMEDABAD in one of my prior companies and I also liaised with CII, FICCI and Chambers of commerce along with various corporates. I also specialize in social media as new Media has been part of the integrated marketing communications which I incorporate in most programs.</p>
          <h2 style="color:#969696;font-family: 'Lato-Regular', sans-serif">Thought leadership:</h2>
            
            <p style="color:#969696">Adept at creating an eco-system of Thought-leadership whereby organisations can garner enough equity to improve Business growth & Profitability.</p>
            
            <p style="color:#969696">Government Liaison: Created relationships and engagement with Regulatory authorities, Ministry, and approval agencies across Petro and Airline industries.</p>
  		</div>
	</div>
</body>
