<nav class="navbar navbar-default" style="background-color:#000000">
  <div class="container-fluid" style=" background-color:#fff; border: 1px solid black">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class ="navbar-brand">
        <span class="navbar-brand">C.R. KANNAN</span>
      </div>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-top:10px">
       <li class="header1"><%= link_to 'HOME', root_path %></li>
       <li class="header1"><%= link_to 'ABOUT', pages_about_path %></li>
       <li class="header1"><%= link_to 'RESUME', pages_resume_path %></li>
       <li class="header1"><%= link_to 'MILESTONES', pages_milestones_path %></li>
       <li class="header1"><%= link_to 'GALLERY', pages_gallery_path %></li>
       <li class="header1"><%= link_to 'CONTACT', pages_contact_path %></li>
      </ul> 
      </div>
  </div>
</nav>
<h2 style="text-align:center;background-color: #000;color: #fff">INTERNAL COMMUNICATIONS</h2>
  <div class="container">
      <a class="fancybox" href="<%= image_path('intcomm-05.jpg') %>" >  
        <div class="box col2">
          <%= image_tag('intcomm-05.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('intcomm-06.jpg') %>">  
        <div class="box col2">
          <%= image_tag('intcomm-06.jpg') %>
        </div>  
      </a>
      <a class="fancybox" href="<%= image_path('intcomm-13.jpg') %>">  
        <div class="box col2">
          <%= image_tag('intcomm-13.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('intcomm-16.jpg') %>" title="Addressing dealers and Sales force . Current trends in Branding and Marketing were shared. Rural market involvement was encouraged">  
        <div class="box col2">
          <%= image_tag('intcomm-16.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('intcomm-17.jpg') %>" title="With the world famous ‘Snoopy’">  
        <div class="box col2">
          <%= image_tag('intcomm-17.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('intcomm-21.jpg') %>" title="Welcoming the SPIC family with Snoopy. The idea to use snoopy was to enthuse the children of the SPIC family">  
        <div class="box col2">
          <%= image_tag('intcomm-21.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('intcomm-23.jpg') %>" title="Created many Internal Communication Programs such as Forum of excellence, Lunch with VC, Rush Hour, Round table meetings.Addressing  one such program with Vice-Chairman">  
        <div class="box col2">
          <%= image_tag('intcomm-23.jpg') %>
        </div>
      </a>
  </div><br />
  <h2 style="text-align:center;background-color: #000;color: #fff">EVENTS AND PRESS</h2>
    <div class="container">
      <a class="fancybox" href="<%= image_path('event-12.jpg') %>" title="Sponsored the Indian-Asean Busness Summit at New Delhi"> 
        <div class="box col2">
          <%= image_tag('event-12.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('event-14.jpg') %>" title="At the aero- India exposition in Bangalore"> 
        <div class="box col2">
          <%= image_tag('event-14.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('event-15.jpg') %>" title="Created the conceptualized the idea for  SPIC Stall  at the Indochem Exposition in New Delhi"> 
        <div class="box col2">
          <%= image_tag('event-15.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('landing.jpg') %>" > 
        <div class="box col2">
          <%= image_tag('landing.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('event-18.jpg') %>" title="With the Press delegates at the conference"> 
        <div class="box col2">
          <%= image_tag('event-18.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('event-19.jpg') %>" title="Invited to address the Dalmia Cements Distributors  meet in Kodaikanal on Branding trends"> 
        <div class="box col2">
          <%= image_tag('event-19.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('event-22.jpg') %>" title="At the Press conference of DSQWorld.com with the Ceo  to project the Company on a new technology"> 
        <div class="box col2">
          <%= image_tag('event-22.jpg') %>
        </div>
      </a>
      <a class="fancybox" href="<%= image_path('event-24.jpg') %>" title="Addressing the Tamilnadu Boxers Association as an invitee"> 
        <div class="box col2">
          <%= image_tag('event-24.jpg') %>
        </div>
      </a>
       <a class="fancybox" href="<%= image_path('event-20.jpg') %>" title="At the India- Asean Business Meet addressed by the then Hon’ble Prime Minister Dr Manmohan Singh"> 
        <div class="box col2">
          <%= image_tag('event-20.jpg') %>
        </div>
      </a>
    </div><br />
    <h2 style="text-align:center;background-color: #000;color: #fff">CAMPAIGNS</h2>
      <div class="container"> 
        <a class="fancybox" href="<%= image_path('campaign-07.jpg') %>" title="Press Campaign: Ideated and conceived the whole campaign  which increased Client’s deposit drive"> 
          <div class="box col2">
            <%= image_tag('campaign-07.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('campaign-08.jpg') %>" title="Press Campaign: Ideated and conceived the whole campaign  which increased Client’s deposit drive"> 
          <div class="box col2">
            <%= image_tag('campaign-08.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('campaign-09.jpg') %>" title="Press Campaign: Ideated and conceived the whole campaign  which increased Client’s deposit drive"> 
          <div class="box col2">
            <%= image_tag('campaign-09.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('campaign-25.jpg') %>" title="Press Campaign: Ideated and conceived the whole campaign  which increased Client’s deposit drive"> 
          <div class="box col2">
            <%= image_tag('campaign-25.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('campaign-26.jpg') %>" title="Press Campaign: Ideated and conceived the whole campaign  which increased Client’s deposit drive"> 
          <div class="box col2">
            <%= image_tag('campaign-26.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('campaign-27.jpg') %>" title="Press Campaign: Ideated and conceived the whole campaign  which increased Client’s deposit drive"> 
          <div class="box col2">
            <%= image_tag('campaign-27.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('campaign-28.jpg') %>" title="Press Campaign: Ideated and conceived the whole campaign  which increased Client’s deposit drive"> 
          <div class="box col2">
            <%= image_tag('campaign-28.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('campaign-29.jpg') %>" title="Press Campaign: Ideated and conceived the whole campaign  which increased Client’s deposit drive"> 
          <div class="box col2">
            <%= image_tag('campaign-29.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('campaign-30.jpg') %>" title="Press Campaign: Ideated and conceived the whole campaign  which increased Client’s deposit drive"> 
          <div class="box col2">
            <%= image_tag('campaign-30.jpg') %>
          </div>
        </a>
    </div><br />
    <h2 style="text-align:center;background-color: #000;color: #fff">CONTRIBUTIONS</h2>
      <div class="container">
        <a class="fancybox" href="<%= image_path('contribution-01.jpg') %>" > 
          <div class="box col2">
            <%= image_tag('contribution-01.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('contribution-02.jpg') %>" > 
          <div class="box col2">
            <%= image_tag('contribution-02.jpg') %>
          </div>
        </a>
        <a class="fancybox" href="<%= image_path('contribution-03.jpg') %>" > 
          <div class="box col2">
            <%= image_tag('contribution-03.jpg') %>
          </div>
        </a>
      </div>
      <h2 style="text-align:center;background-color: #000;color: #fff">WRITEUPS</h2>
        <div class="container">
          <a class="fancybox" href="<%= image_path('writeup-04.jpg') %>" > 
            <div class="box col2">
              <%= image_tag('writeup-04.jpg') %>
            </div>
          </a>
        </div>