<nav class="navbar navbar-default" style="background-color:#000000">
  <div class="container-fluid" style=" background-color:#fff; border: 1px solid black">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class ="navbar-brand">
        <span class="navbar-brand">C.R. KANNAN</span>
      </div>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-top:10px">
       <li class="header1"><%= link_to 'HOME', root_path %></li>
       <li class="header1"><%= link_to 'ABOUT', pages_about_path %></li>
       <li class="header1"><%= link_to 'RESUME', pages_resume_path %></li>
       <li class="header1"><%= link_to 'MILESTONES', pages_milestones_path %></li>
       <li class="header1"><%= link_to 'GALLERY', pages_gallery_path %></li>
       <li class="header1"><%= link_to 'CONTACT', pages_contact_path %></li>
      </ul> 
      </div>
  </div>
</nav>

<div class="container" style="text-align:center">
  <h2>MILESTONES</h2><br />
  <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#demo">1982-1989</button>
  <div id="demo" class="collapse"><br />
    <div class="jumbotron">
    <p>As Account Group Head I  Market Researched  and strategized the Positioning and the Brand Creation of the Products/ Services I handled. Campco Chocolates a small co-operative of cocoa growers of Karnataka & Kerala gained a market share of 15% the very first year shaking up the giants in the Industry.</p>
    <p>Pioneered the purchase of Condoms through Postal / Courier deliveries which as Research showed was one of the routes for an embarrassed Customer.</p>
    <p>My first article on Brands appeared in the editorial page of The Economic Times in 1989.</p>
  </div>
  </div><br /><br />
    <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#demo2">2000-2002</button>
  <div id="demo2" class="collapse"><br />
    <div class="jumbotron">
    <p>Created a major Branding exercise for DSQ software , a CII -5 software company by adopting “ Go to Market approach”. Arranged a global convention of all Managers from the US, Europe and Asia Pacific in India as a planning platform for the next year.Participated in all IT exhibitions abroad and also got speaking opportunities for our Clients. Engaged with Industry bodies such as CII, FICCI and Chambers of Commerce for Industry interactions.</p>
    <p>My Chairman Speech draft was highly accepted and appreciated by the Chairman.</p>
  </div>
  </div><br /><br />
    <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#demo3">2002-2006</button>
  <div id="demo3" class="collapse"><br />
    <div class="jumbotron">
    <p>As Chief Communications Officer of Southern Petrochemicals Industries Corporation Ltd I created many internal communication programs besides promoting the well entrenched SPIC Brand. Received awards from RAPA , Bombay for best TV commercial in language.As a writer created many drafts for Chairmans speech at the AGM and  address at other functions.</p>
    </div>
  </div><br /><br />
    <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#demo4">2006-2011</button>
  <div id="demo4" class="collapse"><br />
    <div class="jumbotron">
    <p>Created the most exciting Airline Brand in southern India with the largest Market share. Brand initiatives was created from the Business model which attracted customers repeatedly. Customer engagement was key and offered end-to-end satisfaction through value based service excellence.</p>
    <p>Adjudged the “ Best emerging airline of the Year” by Frost & Sullivan, London in 2009.</p>
    <p>Business today adjudged the airline as one amongst  the top 200 brands in India.</p>
    </div>
  </div><br /><br />
      <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#demo5">2011-2014</button>
  <div id="demo5" class="collapse"><br />
    <div class="jumbotron">
    <p>As VP- Branding & Marketing increased the footfalls and room coverage for a boutique Hotel, through networking with Corporates and Travel Portals for yearly contracts</p>
    </div>
  </div><br /><br />
      <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#demo6">2014-present</button>
  <div id="demo6" class="collapse"><br />
    <div class="jumbotron">
    <p>At Inventys Research Company Limited , handling their communivation and Brandin g requirements. Introduced Many Internal communications programs such as Town Hall Meetings, Technical Quiz and Round Table Meetings</p>
    </div>
  </div>
</div>
